/* Section 1 */

.set1{
    position: relative;
    width: 100%;
    height: 600px;
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.ri_ght{
    width: 40%;
    z-index: 1;
    align-content: center;
    margin: 0 0 0 100px;

}
.mode{
    background-color:#f4de7c;
    color:#2f4e54;
    padding: 6px;
    font-size: small;
    font-weight:bold;
    border-radius: 30px;
    margin-left: 25px;
    
}

.ri_ght h1{
    font-size: 35px;
    font-weight: bold;
    margin: 15px 0  20px 25px;
}

.cut{
    color: goldenrod;
}
.ri_ght p{
    text-align: justify;
    width: 89%;
    margin: auto;
}
.bseat{
    color:goldenrod !important;
    outline: auto !important;
    border-radius: 4px !important;
    padding: 16px !important;
    width: 150px !important;
    height: 25px !important;
    text-transform: none !important;
    margin: 20px 15px 0 27px !important;
    font-size: large !important;
    font-weight:bold !important;
}
.bseat:hover{
    background-color: goldenrod;
    color: white !important;
}

.eacourse{
    color:goldenrod !important;
    outline: auto !important;
    border-radius: 4px !important;
    padding: 16px !important;
    width: 250px !important;
    height: 25px !important;
    text-transform: none !important;
    margin: 20px 0 0 5px !important;
    font-size: large !important;
    font-weight:bold !important;
}
.eacourse:hover{
    background-color: goldenrod;
    color: white !important;
}

.le_ft{
    width: 60%;
}

.rot{
    background-color: white;
    position: absolute;
    top: -140px;
    left: -340px;
    width: 1550px;
    height: 700px;
    transform: rotate(120deg) skew(10deg);
}

/* Section 2 */

.set2{
    margin-top: 50px;
    text-align: center;
}
.set2 h2{
    color: goldenrod;
    font-size: 35px;
    font-weight: bold;
}
.offer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 120px;
}
.offer p{
    width: 30%;
    margin: 10px ;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.offer svg{
    margin-right: 10px;
}

/* Section 3 */
.set3{
    background-image: url("https://img.freepik.com/free-vector/light-grey-dots-background_78370-2583.jpg?size=626&ext=jpg&ga=GA1.1.1819120589.1727740800&semt=ais_hybrid");
    margin:20px auto;


}

.session{
    margin-left: 25px;
}
.upcoming{
    color: goldenrod;
    font-size: 29px;
    font-weight: bold;
}

.ongoing{
    color: goldenrod;
    font-size: 29px;
    font-weight: bold;
    margin-top: 70px;

}

.event-container {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    /* justify-content: space-evenly; */
  }
.back-box{
    background-color:goldenrod;
    border-radius: 10px;
    width: 23%; 
    margin-right: 30px;
    margin-left: 25px;

}
.event-box {
    background-color: white;
    padding: 10px;
    width: 100%; 
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

  }
  
  .event-name {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .event-date, .event-time, .event-day, .event-location {
    color: #6B7280;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
  }
  .event-date svg, .event-time svg, .event-day svg, .event-location svg {
    margin-right: 10px;
    height: 25px;
  }


  .event-container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .back-box1{
    width: 21%;
    margin: 10px;
    background-color:goldenrod;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  /* Section 4 */

.set4{
    text-align: center;
}
.set4 h2{
    color: goldenrod;
    font-size:28px;
    font-weight: 700;
}





  .icon-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .icon-box div{
    border: 1px solid black;
    width: 400px;
    margin: 0 10px 0 10px;
    border-radius: 8px;
  }
  
  .icon-box svg {
    font-size: 50px;
    margin: 15px 0 0 0;
    color: goldenrod;
  }
  
  .icon-box h3 {
    font-size: 18px;
    font-weight: bold;
    margin: auto;
  }
  
  .icon-box p {
    font-size: 17px;
    margin-bottom: 20px;
  }

  /* Section 5 */
  .set5{
    margin-top: 60px;
    text-align: center;
    margin-left: -20%;
  }
  .set5 h2{
    font-size: 30px;
    margin: auto;
  }
  .set5 p{
    font-size: 18px;
    margin-left: -16%;
  }
  .conwus{
    color:goldenrod !important;
    outline: auto !important;
    border-radius: 4px !important;
    padding: 16px !important;
    width: 200px !important;
    height: 25px !important;
    text-transform: none !important;
    margin: -3% 0 0 38% !important;
    font-size: large !important;
  }
  .conwus:hover{
    background-color: goldenrod;
    color: white !important;
  }





















































@media only screen and (max-width: 768px) {
    .set1 {
      display: flex;
      flex-direction:column;
      margin-left: -50px;
    }
    .mode{
        margin:auto;
    }
    .ri_ght {
        width: auto;
    }
    .ri_ght h1{
        font-size:x-large;
        width: 300px;
        height: 70px;
        margin: auto;
        margin-top: 20px;
    }
    .ri_ght p{
        width: auto;
        margin-top: 30px;
    }
    .btngroup{
        display: flex;
        flex-direction: row;
        margin-left:-25px;
    }
    .bseat{
        width: 45% !important;
        height: 55px !important;
        font-weight: normal !important;
        padding: 0 !important;
    }
    .eacourse{
        width: 55% !important;
        height: 55px !important;
        font-weight: normal !important;
        padding: 0 !important;
    }
    .le_ft {
        visibility: hidden;
    }
    .rot {
        visibility: hidden;
    }
    .set2{
        margin-top:-180px;
    }
    .set2 h2{
        font-size:x-large;
    }
    .offer p{
        height: auto;
        width: auto;
        text-align: center;
        margin-left: -20px;
    }
    .event-container{
        display: flex;
        flex-direction: column;
    }
    .back-box{
        width: auto;
        margin-top: 10px;
        margin-bottom: 15px;    
    }
    .event-box{
        width: auto;
    }
    .hear{
        width: 90%;
        text-align: justify;
        margin-left: 15px;
    }
    .icon-box{
        width: 90%;
        margin-left: 10px;
    }
    .icon-box div{
        margin-top: 20px;
    }
    .set5{
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }
    .set5 h2{
        width: 260px;
    }
    .conwus{
        margin: auto !important;
        margin-left: -30px !important;
    }
    .event-container1{
        display: flex;
        flex-direction: column;
    }
    .back-box1{
        width: auto;
        margin-top: 10px;
        margin-bottom: 15px;    
    }
    .set2-1{
        margin-top:-240px;
    }
  }